/**
 * @name UnShittifyNarrowWindow
 * @author Xaero252
 * @description Tweak screen space utilization on the titlebar for narrow window users
 * @version 0.0.1
 */

/* -----------------  UN-SHITIFY DISCORD ------------------- *//*

/* 
 *	This has a lot of ugly hardcoded pixel values around the default discord theme
 *	Ideally, we can rely on css variables for tweaking this stuff, but many things aren't defined or are adjusted by javascript.
 *	It's difficult to make this a toggle-by-setting option, since @ rules are global and can't see css custom properties.
 */

/* Some easily accessible user-tunables. */
:root {
	--toolbox-collapse-delay: 0.5s;
	--toolbox-width: 115px;
	--toolbox-padding: calc(var(--toolbox-width) + 15px);
	--search-max-width: calc(25vw - (var(--toolbox-width)));
}

/* You probably don't want to edit anything below here */
@media all and (max-width: 1280px) {

   /* Permanent Expansion States */
	:root:has(.trailing_c38106 [aria-label="Update Ready!"]), :root:has(.trailing_c38106 .selected__9293f) {
		--toolbox-width: 205px !important;
		--toolbox-collapse-delay: 0s !important;
   }

   /* Hover Expansion */
	:root:has(.trailing_c38106:hover) {
		--toolbox-width: 205px;
		--toolbox-collapse-delay: 0.5s;
   }

   /* Toolbox Container */
	.trailing_c38106 {
		width: var(--toolbox-width);
		overflow: hidden;
		transition: width 0.2s ease var(--toolbox-collapse-delay);
		will-change: width;
   }

   /* Title Synchronization */
	.title_f75fb0 {
		padding-right: var(--toolbox-padding) !important;
		transition: padding-right 0.2s ease var(--toolbox-collapse-delay);
   }

   /* Search Bar Animation Sync */
	.public-DraftEditor-content {
		min-width: 5vw;
		max-width: var(--search-max-width);
		transition: max-width 0.2s ease var(--toolbox-collapse-delay);
   }

   /* Immediate Response for Special States */
	:root:has(.trailing_c38106 [aria-label="Update Ready!"]) .title_f75fb0, :root:has(.trailing_c38106 .selected__9293f) .title_f75fb0 {
		transition: padding-right 0.2s ease 0s !important;
   }

	:root:has(.trailing_c38106 [aria-label="Update Ready!"]) .public-DraftEditor-content, :root:has(.trailing_c38106 .selected__9293f) .public-DraftEditor-content {
		transition: max-width 0.2s ease 0s !important;
   }

   /* Combined States */
	:root:has(.trailing_c38106 .selected__9293f):has(.trailing_c38106:hover), :root:has(.trailing_c38106 [aria-label="Update Ready!"]):has(.trailing_c38106:hover) {
		--toolbox-width: 205px !important;
   }

   /* Delayed Closing */
	.trailing_c38106:not(:hover):not(:has([aria-label="Update Ready!"])):not(:has(.selected__9293f)) {
		--toolbox-collapse-delay: 0.5s;
   }
}

/* Search Bar Rules */
.public-DraftEditor-content:not(:focus) {
	width: 5vw;
	transition: width 0.2s ease, max-width 0.2s ease !important;
}

.public-DraftEditor-content:focus {
	width: auto;
	max-width: var(--search-max-width);
	transition: max-width 0.2s ease var(--toolbox-collapse-delay), width 0.2s ease !important;
}